NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SECRET_KEY=
AI_API_BASE_URL=
AI_API_KEY=
AI_MODEL=
GITHUB_TOKEN=
AI_GITHUB_OWNER=Premieros
AI_GITHUB_REPO=AMMCO
AI_GITHUB_BRANCH=main
